
	html, body {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		margin: 0;
	  position:absolute;
	}
	
	.mouse_over {
		color: black;
		background-color: #854935;
	}
	
	.mouse_out {
		color: #000000;
	}

	.fundo {
		width: 90%;	
	}

	.container {
		margin-right: 0;
		margin-left: 0;
		margin: 0 auto;
		width: 100%;
		grid-gap: -10px;
	}
	
	.fundo {
		position: absolute;
		width: 100vw;
		height: 200vh;
		object-fit: fill;
		z-index: 0;
		background-repeat: no-repeat;
	}
	
	.circle-sketch-highlight{
  position:relative;
	}.circle-sketch-highlight:before{
		content:"";
		z-index:-1;
		left:0.4em;
		top:0em;
		border-width:2px;
		border-style:solid;
		border-color:black;
		position:absolute;
		border-right-color:transparent;
		width:80%;
		height:2.8em;
		transform:rotate(2deg);
		opacity:0.7;
		border-radius:50%;
		padding:0.1em 0.25em;
	}.circle-sketch-highlight:after{
		content:"";
		z-index:-1;
		left:0.4em;
		top:0.1em;
		padding:0.1em 0.25em;
		border-width:2px;
		border-style:solid;
		border-color:black;
		border-left-color:transparent;
		border-top-color:transparent;
		position:absolute;
		width:80%;
		height:2.5em;
		transform:rotate(-1deg);
		opacity:0.7;
		border-radius:50%;
	}
	
	.bio {
		position: relative;
		color: black;
		z-index: 5;
		font-size: 1.3vmax;	
		line-height: 1.4vmax;
		text-align: justify;
		width: 100vmax;
		font-family: Helvetica;
		/*padding-bottom: 0.5em;*/
		/*display: inline;*/
	}
	
	.poesia {
		width: 30vw;
	}
	
	.botao {
		text-align: center;
		width: 30vw;
		height: 15vh;
		z-index: 5;
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		font-size: 4vmin;	
		/*font-family: 'Special Elite', cursive;*/
		font-family: Helvetica;
		font-weight: 900;
		text-align: center;
		vertical-align: middle;
	  letter-spacing: -0.3vmin;
		line-height: 10vh;        /*The same as your div height */
	}
	
	.rights {
		color: white;
		background-color: black;
		vertical-align: middle;
		font-family: Helvetica;
		font-size: 1.5vh;
		text-align: center;
		width: 99.3vw;
		padding: top: 2vmin;
		line-height: 1.7vh; 
		height: 10vh;
		margin: auto;
	}
	
	@font-face {
    font-family: Micrograma;
    src: url("MicrogrammaDExtendedBold.otf") format("opentype");
	}

	@font-face {
	  font-family: Micrograma;
	  font-weight: 900;
	  src: url("MicrogrammaDExtendedBold.otf") format("opentype");
	}
	
	
	@font-face {
    font-family: BankPrinter;
    src: url("F25_Bank_Printer.otf") format("opentype");
	}
	
	.title {
	white-space: nowrap;
	z-index: 5;
  font-family: Helvetica;
	font-weight: 900;
	font-size: 20vmin;	
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Archivo Black', sans-serif;*/
	color: #000000;
  width: 100vw;
  height: 22vh;
  left: 0vw;
  letter-spacing: -2vmin;
	text-align: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	}

