
	html, body {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		margin: 0;
	  position:absolute;
	}
	
	.mouse_over {
		color: black;
		background-color: #854935;
	}
	
	.mouse_out {
		color: #000000;
	}


	.container {
		display: ;
		width: 200vw;
		left: -100vw;		
	}
	
	.fundo {
		position: absolute;
		width: 100vw;
		height: 200vh;
		object-fit: fill;
		z-index: 0;
		background-repeat: no-repeat;
	}
	
	.circle-sketch-highlight{
  position:relative;
	}.circle-sketch-highlight:before{
		content:"";
		z-index:-1;
		left:2.5em;
		top:1.5em;
		border-width:2px;
		border-style:solid;
		border-color:black;
		position:absolute;
		border-right-color:transparent;
		width:62%;
		height:3em;
		transform:rotate(2deg);
		opacity:0.7;
		border-radius:50%;
		padding:0.1em 0.25em;
	}.circle-sketch-highlight:after{
		content:"";
		z-index:-1;
		left:2.6em;
		top:1.7em;
		padding:0.1em 0.25em;
		border-width:2px;
		border-style:solid;
		border-color:black;
		border-left-color:transparent;
		border-top-color:transparent;
		position:absolute;
		width:61%;
		height:3.3em;
		transform:rotate(-1deg);
		opacity:0.7;
		border-radius:50%;
	}
	
	.bio {
		position: relative;
		color: white;
		background-color: black;
		z-index: 5;
		font-size: 3vmin;	
		line-height: 5vmin;
		text-align: justify;
		width: 100%;
		font-family: BankPrinter;
		/*padding-bottom: 0.5em;*/
		/*display: inline;*/
	}
	
	.poesia {
		left: -20vw;
		width: 100vw;
		object-fit: fill;
	}
	
	.botao {
		text-align: center;
		width: 15vw;
		height: 10vh;
		z-index: 5;
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		font-size: 1.6vmin;	
		/*font-family: 'Special Elite', cursive;*/
		font-family: Micrograma;
		text-align: center;
		vertical-align: middle;
		line-height: 10vh;        /*The same as your div height */
	}
	
	@font-face {
    font-family: Micrograma;
    src: url("MicrogrammaDExtendedBold.otf") format("opentype");
	}

	@font-face {
	  font-family: Micrograma;
	  font-weight: 900;
	  src: url("MicrogrammaDExtendedBold.otf") format("opentype");
	}
	
	
	@font-face {
    font-family: BankPrinter;
    src: url("F25_Bank_Printer.otf") format("opentype");
	}
	
	.title {
	white-space: nowrap;
	z-index: 5;
  font-family: Micrograma;
	font-size: 10vmin;	
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Archivo Black', sans-serif;*/
	font-family: Micrograma;
	color: #000000;
  width: 100vw;
  left: 0vw;
	text-align: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	}

